!!!
%html
  %head
    %title Temper - Westmont College
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="/public/js/highcharts.js")
    %script(src="/public/js/sand_signika.js")
    %link(rel="stylesheet" type="text/css" href="css/style.css")
  %body
    =yield(:javascript)
